# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

auto-save-lists/**

elpa/**

recentf

core.el

recentf~

backup/**

snippets/**

transient/**

eshell/**

projectile-bookmarks.eld

.cache/**

eshell/**
